---
import Camera from 'components/icons/Camera.astro'
import Computer from 'components/icons/Computer.astro'
import Instagram from 'components/icons/Instagram.astro'
import Twitter from 'components/icons/Twitter.astro'
import ProfileImage from 'components/ProfileImage.astro'
import ThemeToggle from 'components/ThemeToggle.astro'
import Document from 'layouts/Document.astro'
import {
  FOUNDATION_USERNAME,
  INSTAGRAM_USERNAME,
  NAME,
  TWITTER_USERNAME,
} from '../constants'
---

<Document title="Links">
  <div class="container">
    <div class="theme">
      <ThemeToggle />
    </div>
    <div class="name">{NAME}</div>
    <ProfileImage class="image" />
    <ul>
      <li>
        <a href="/">
          <span>Website</span>
          <Computer />
        </a>
      </li>
      <li>
        <a href={`https://www.instagram.com/${INSTAGRAM_USERNAME}/`}>
          <span>Instagram</span>
          <Instagram />
        </a>
      </li>
      <li>
        <a href={`https://twitter.com/${TWITTER_USERNAME}`}>
          <span>Twitter</span>
          <Twitter />
        </a>
      </li>
      <li>
        <a href={`https://foundation.app/${FOUNDATION_USERNAME}`}>
          <span>Foundation NFTs</span>
          <Camera />
        </a>
      </li>
    </ul>
  </div>
</Document>

<style>
  .container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
    min-height: 100vh;
    padding: var(--s-xl);
    margin: 0 auto;
  }

  .theme {
    display: flex;
    justify-content: end;
  }

  .name {
    margin: 0 auto;
    font-size: var(--fs-xl);
    font-weight: bold;
  }

  .image {
    margin-right: auto;
    margin-left: auto;
  }

  ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--s-lg) 0;
    color: var(--c-text);
    text-decoration: none;
    border-bottom: 1px solid var(--c-border);
  }

  span {
    text-transform: uppercase;
  }

  svg {
    height: 1.5rem;
  }
</style>
