---
interface Props {
  class: string
}

const { class: className } = Astro.props
---

<div class={className}>
  <img src="/profile.webp" alt="Profile picture" />
</div>

<style>
  div {
    --size: 220px;

    width: var(--size);
    height: var(--size);
    margin: var(--s-lg) 0;
  }

  img {
    width: var(--size);
    height: var(--size);
    border-radius: var(--r-full);
    object-fit: cover;
  }
</style>
