---
import Button from 'components/Button.astro'
import Sun from 'components/icons/Sun.astro'
import Moon from 'components/icons/Moon.astro'
---

<Button type="button" aria-label="toggle theme">
  <Sun data-theme-toggle="light" />
  <Moon data-theme-toggle="dark" />
</Button>

<script>
  import type { Theme } from 'astro-themes'
  import { updateThemeColor } from 'theme'

  function setTheme(theme: Theme) {
    document.dispatchEvent(new CustomEvent('set-theme', { detail: theme }))
  }

  function setDarkTheme() {
    setTheme('dark')
    updateThemeColor()
  }

  function setLightTheme() {
    setTheme('light')
    updateThemeColor()
  }

  document
    .querySelector("[data-theme-toggle='dark']")
    ?.addEventListener('click', setDarkTheme)

  document
    .querySelector("[data-theme-toggle='light']")
    ?.addEventListener('click', setLightTheme)
</script>

<style>
  svg {
    height: var(--fs-lg);
    color: var(--c-text);
  }
</style>

<style is:global>
  [data-theme-toggle='dark'],
  [data-theme='dark'] [data-theme-toggle='light'] {
    display: block;
  }

  /* stylelint-disable-next-line no-descending-specificity */
  [data-theme-toggle='light'],
  [data-theme='dark'] [data-theme-toggle='dark'] {
    display: none;
  }
</style>
