---
import Icon from 'astro-icon'
import Button from 'components/Button.astro'
---

<Button type="button" aria-label="toggle theme">
  <Icon name="heroicons-outline:sun" data-theme-toggle="light" />
  <Icon name="heroicons-outline:moon" data-theme-toggle="dark" />
</Button>

<script>
  import type { Theme } from 'astro-themes'

  function setTheme(theme: Theme) {
    document.dispatchEvent(new CustomEvent('set-theme', { detail: theme }))
  }

  function setDarkTheme() {
    setTheme('dark')
  }

  function setLightTheme() {
    setTheme('light')
  }

  document
    .querySelector("[data-theme-toggle='dark']")
    ?.addEventListener('click', setDarkTheme)

  document
    .querySelector("[data-theme-toggle='light']")
    ?.addEventListener('click', setLightTheme)
</script>

<style>
  svg {
    height: var(--fs-lg);
    color: var(--c-text);
  }
</style>

<style is:global>
  [data-theme-toggle='dark'],
  [data-theme='dark'] [data-theme-toggle='light'] {
    display: block;
  }

  /* stylelint-disable-next-line no-descending-specificity */
  [data-theme-toggle='light'],
  [data-theme='dark'] [data-theme-toggle='dark'] {
    display: none;
  }
</style>
