:root {
  --border-radius: 6px;
  --spacing-xs: 2px;
  --spacing-sm: 8px;
  --spacing-md: 16px;
  --spacing-lg: 24px;
  --spacing-xl: 32px;
  --spacing-xxl: 48px;
  --text-color-secondary: #454545;
  --font-size-sm: 0.75rem;
  --font-size-lg: 1.5rem;
  --font-size-xl: 6rem;
  --font-size-xxl: 10rem;
  --font-weight-bold: 600;
  --transition-duration: 0.2s;
  --transition-timing-function: ease-in-out;
}

[data-theme='dark'] {
  --text-color-secondary: #cbcbcb;
}
