---
import Header from 'components/Header.astro'
import Document, { Props as DocumentProps } from './Document.astro'

export type Props = DocumentProps
---

<Document {...Astro.props}>
  <div>
    <Header />
    <main>
      <slot />
    </main>
  </div>
</Document>

<style>
  div {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 800px; /* --tablet-landscape-up */
    min-height: 100vh;
    padding: 0 var(--spacing-md);
    margin: 0 auto;
  }

  main {
    flex-grow: 1;
  }

  @media (--tablet-landscape-up) {
    div {
      padding: 0 var(--spacing-lg);
    }
  }
</style>
